<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>
  <form>
    <div>
      <p>today's quote is</p>
      <span>{{ quote?.text }}</span>
      <br />
      <span> {{ quote?.author }}</span>
      <br />
      <input type="button" value="prev" (click)="prevQuote()" [disabled]="disablePrev" />
      <input type="button" value="next" (click)="nextQuote()" [disabled]="disableNext" />
    </div>
  </form>
</div>
