<div class="login-container bg-light">
  <div class="login-box">
    <h1 translate>
      APP_NAME
      <img class="logo bg-img" src="assets/OSTF-logo.jpg" alt="angular logo" />
    </h1>

    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          User {{ user.email }} is created successfully. Please return to
          <a class="btn btn-link" routerLink="/login">
            Login Page
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
