<div class="row">
  <div class="col-sm-12">
    <p class="border risk-indicator-bg">Risk Indicators</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 border ml-1 mr-1">
    <p>NARXCARE SCORES</p>
    <div class="row">
      <div class="col-sm-4">
        <label class="summary-font">Narcotic</label>
        <label class="summary-font">100</label>
      </div>
      <div class="col-sm-4">
        <label class="summary-font">Sedative</label>
        <label class="summary-font">141</label>
      </div>
      <div class="col-sm-4">
        <label class="summary-font">Stimulant</label>
        <label class="summary-font">290</label>
      </div>
    </div>
  </div>

  <div class="col-sm-3 border mr-1">
    <p>OVERDOSE RISK SCORE</p>
    <div class="row">
      <div class="col-sm-12">
        <label class="summary-font mb-0">280</label>
        <p class="narxscore-report">range(000-999)</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 border">
    <p>ADDITIONAL RISK INDICATORS(0)</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 border mt-1 narxscore-report">
    This NarxCare report is based on search criteria supplied and the data entered by the dispensing pharmacy. for more
    information about any pharmacy, please contact the dispensing pharmacy or the prescriber.NarcCare report are
    intended to aid and not replace, medical decision making.None of the information provided should be used as sole
    justificiation for providing or refusing to provide medication.This information on this report is not warranted as
    accurate or complete.
  </div>
</div>

<div class="row mt-1">
  <div class="col-sm-12">
    <p class="border risk-indicator-bg">Summary</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 mb-1">
    <div class="row">
      <div class="col-sm-3 border-right">
        <p>Summary</p>
        <div class="row">
          <div class="col-sm-8 summary-font">Total Prescription:</div>
          <div class="col-sm-4 summary-font">18</div>
        </div>
        <div class="row">
          <div class="col-sm-8 summary-font">Total Prescriber:</div>
          <div class="col-sm-4 summary-font">7</div>
        </div>
        <div class="row">
          <div class="col-sm-8 summary-font">Total Pharmacies:</div>
          <div class="col-sm-4 summary-font">5</div>
        </div>
      </div>
      <div class="col-sm-3 border-right">
        <p>Narcotics</p>
        <div class="row">
          <div class="col-sm-9 summary-font">Current Qty:</div>
          <div class="col-sm-3 summary-font">0</div>
        </div>
        <div class="row">
          <div class="col-sm-9 summary-font">Current MME/day:</div>
          <div class="col-sm-3 summary-font">0.00</div>
        </div>
        <div class="row">
          <div class="col-sm-9 summary-font">30 Day Avg. MME/day:</div>
          <div class="col-sm-3 summary-font">0.00</div>
        </div>
      </div>
      <div class="col-sm-3 border-right">
        <p>Sedatives</p>
        <div class="row">
          <div class="col-sm-8 summary-font">Current Qty:</div>
          <div class="col-sm-4 summary-font">25</div>
        </div>
        <div class="row">
          <div class="col-sm-8 summary-font">Current mg/day:</div>
          <div class="col-sm-4 summary-font">0.50</div>
        </div>
        <div class="row">
          <div class="col-sm-8 summary-font">30 Day Avg. mg/day:</div>
          <div class="col-sm-4 summary-font">0.07</div>
        </div>
      </div>
      <div class="col-sm-3">
        <p>Ativan</p>
        <div class="row">
          <div class="col-sm-8 summary-font">Current Qty:</div>
          <div class="col-sm-4 summary-font">0</div>
        </div>
        <div class="row">
          <div class="col-sm-8 summary-font">Current mg/day:</div>
          <div class="col-sm-4 summary-font">0.00</div>
        </div>
        <div class="row">
          <div class="col-sm-8 summary-font">30 Day Avg. mg/day:</div>
          <div class="col-sm-4 summary-font">0.00</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <p class="border risk-indicator-bg">Prescription</p>
    <div class="row">
      <div class="col border">
        <label class="summary-font-sm">Fill Date</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Written</label>
      </div>
      <div class="col-2 border">
        <label class="summary-font-sm">Drug</label>
      </div>
      <div class="col-sm border">
        <label class="summary-font-sm">Qty</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Days</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Prescriber</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Rx #</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Pharmacy</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Refill</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Daily Doses*</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">Pymt Type</label>
      </div>
      <div class="col border">
        <label class="summary-font-sm">PMP</label>
      </div>
    </div>
    <div class="row" *ngFor="let presc of prescriptions">
      <div class="col-sm border">
        <span class="summary-font-sm">{{ presc.filldate }}</span>
      </div>
      <div class="col-sm border">
        <span class="summary-font-sm">{{ presc.written }}</span>
      </div>
      <div class="col-sm-2 border">
        <p class="summary-font-sm">{{ presc.drug }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.qty }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.days }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.prescriber }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.rxNo }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.pharmacy }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.refill }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.dailyDoses }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.pymtType }}</p>
      </div>
      <div class="col-sm border">
        <p class="summary-font-sm">{{ presc.pmp }}</p>
      </div>
    </div>
  </div>
</div>
